body, html{
    overflow-x: hidden;
}
*{
    font-family: 'Montserrat', Arial, sans-serif;
}
#curt-button .count{
    margin-top: 8px;
    font-size: 20px;
}
#curt-button{
    position: fixed;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    right: 2%;
    bottom: 5%;
    z-index: 10;
    box-shadow: 0 0 10px -5px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    line-height: 16px;
    transition: all 0.3s linear;
}
#curt-button.hide{
    visibility: hidden;
}
#curt-button:hover{
    background: #e42129;
    color: #fff;
}
#rec148097869 .t396__artboard{
    z-index: 25;
}
#products-container .list{
    position: absolute;
    top: 100%;
    background: #fff;
    font-size: 16px;
    padding: 15px;
    width: 50vw;
    max-height: 400px;
    box-shadow: 0 10px 30px -10px #000;
    overflow-x: auto;
    font-family: 'Montserrat', Arial, sans-serif;
    display: none;
    margin-top: 15px;
}
.tn-elem__1479662341575973270969{
    width: 100% !important;
}
.tn-elem__1479662341575900367448{
    z-index: 999!important;
}
#products-container .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    flex-wrap: wrap;
}
#products-container .add-to-cart{
    background: #e42129;
    border: none;
    color: #fff;
    height: 30px;
    padding: 2px 10px;
    font-size: 14px;
    margin-left: 15px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s linear;
}
#products-container .manufacturer{
    flex: 1;
    text-align: center;
    padding:  15px;
}
#products-container .product,
#mini-cart .product{
    padding: 10px;
}
#products-container .product:nth-child(odd),
#mini-cart .product:nth-child(odd){
    background: rgba(228, 33, 41, 0.03);
    color: #4f1515;
}
#products-container h2{
    font-size: 1.4vw;
    flex: 1;
    padding-right: 5vw;
}
.t396__artboard{
    overflow: inherit;
}
.mfp-close-btn-in .mfp-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0;
}
.mfp-close-btn-in .mfp-close:before,
.mfp-close-btn-in .mfp-close:after {
    display: inline-block;
    height: 2px;
    background: #000;
    position: absolute;
    content: '';
    transform-origin: 50% 50%;
    top: 50%;
    left: 50%;
    margin: 0px 0 0 -25px;
    width: 30px;
    transition: transform .1s ease;
}
.mfp-close-btn-in .mfp-close:before {
    transform: rotate3d(0, 0, 1, 45deg);
}
.mfp-close-btn-in .mfp-close:after {
    transform: rotate3d(0, 0, 1, -45deg);
}
.mfp-close-btn-in .mfp-close:hover:before,
.mfp-close-btn-in .mfp-close:hover:after {
    transform: rotate3d(0, 0, 1, 0deg);
}
/*
    ====== Zoom-out effect ======
    */
.mfp-zoom-out {
    /* start state */

    /* animate in */

    /* animate out */

}
.mfp-zoom-out .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(1.3);
}
.mfp-zoom-out.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
}
.mfp-zoom-out.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1);
}
.mfp-zoom-out.mfp-ready.mfp-bg {
    opacity: 0.8;
}
.mfp-zoom-out.mfp-removing .mfp-with-anim {
    transform: scale(1.3);
    opacity: 0;
}
.mfp-zoom-out.mfp-removing.mfp-bg {
    opacity: 0;
}
.mfp-zoom-in {
    /* start state */

    /* animate in */

    /* animate out */

}
.mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
    transform: scale(0.8);
    opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}
#sent-popup {
    max-width: 470px;
    color: #121212;
}
#sent-popup p {
    font-size: 20px;
    line-height: 30px;
}
.white-popup {
    padding: 50px 30px;
    max-width: 570px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
}
.white-popup input{
    width: 100%;
    max-width: 230px;
    margin: 0 auto 10px;
    display: block;
    height: 45px;
    padding: 0 15px;
}
.white-popup h2 {
    color: #121212;
    text-align: center;
    margin-bottom: 20px;
}
.white-popup form {
    margin: 0 auto;
}
#mini-cart .product{
    display: flex;
    align-items: center;
}
#mini-cart .manufacturer{
    margin-top: 10px;
}
#mini-cart .delete{
    background: #e42129;
    border: none;
    color: #fff;
    height: 35px;
    padding: 0 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s linear;
}
#products-container .add-to-cart:hover, #mini-cart .delete:hover{
    background: #4f1515;
}
button{
    cursor: pointer;
}
#curt-popup .wrap-total-sum{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #bc8181;
    padding-top: 10px;
}
#curt-popup #total-sum{
    text-align: right;
    height: 20px;
    border: none;
    width: 110px;
    padding-right: 0;
    outline: none;
    margin: inherit;
}
#mini-cart .price{
    margin-top: 10px;
}
#mini-cart .calc{
    display: flex;
    justify-content: space-between;
}
#mini-cart .product .count-delete{
    text-align: center;
}
#mini-cart .product + .product{
    margin-top: 15px;
}
#mini-cart .description{
    flex: 1;
}
#mini-cart{
    margin: 30px 0;
    max-height: 400px;
    overflow-y: auto;
}
.white-popup input {
    border: 1px solid #121212;
}
.white-popup input + input {
    margin-top: 10px;
}
.white-popup .btn {
    height: 55px;
    border: none;
    width: auto;
    padding: 0 15px;
    margin-top: 25px;
    cursor: pointer;
    min-width: 230px;
    background: #e42129;
    color: #fff;
    transition: all 0.3s;
}
.white-popup .btn:hover {
    background: #4f1515;
}
@media screen and (max-width: 977px){
    #products-container .list{
        font-size: 14px;
        width: 75vw;
        left: -30vw;
    }
    #products-container h2{
        font-size: 14px;
    }
}
@media screen and (max-width: 768px) {
    .white-popup {
        padding: 60px 25px 60px;
    }
    .white-popup h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .white-popup h2 + p {
        margin-bottom: 30px;
    }
    .white-popup .btn {
        margin-top: 40px;
    }
}
@media screen and (max-width: 496px){
    #products-container .list{
        width: 81vw;
        left: -9vw;
        font-size: 10px;
    }
}